.notifications {
}

.notification {
  background-color: white;
  padding: 10px 0;
  height: 50px;
  box-shadow: 1px 1px 2px grey;
  display: flex;
  justify-content: left;
  align-items: center;
}

.notification img {
  margin: 0 0 0 20px;
}

.info {
  text-align: left;
  padding: 0 20px;
  flex-grow: 1;
}

.info a {
  color: red;
  opacity: 0.7;
}


.info p {
  font-size: 12px;
  color: grey;
  margin: 0 0 4px 0;
}

.info h3 {
  font-size: 12px;
  color: black;
  margin: 0;
}

.responder {
  display: flex;
  justify-content: right;
  padding: 0 20px 0 0;
  opacity: 0.05;
  transition: ease 0.3s;
  font-size: 10px;
  color: black;
  margin: 0;
}

.responder:hover {
  opacity: 1;
}
